/******** Site ********/

h1, h3, h4, h6, a {
    color: #ac855b;
    font-family: 'Cinzel', Serif, sans-serif;
    font-weight: bold;
    text-align: center;
}

h5 {
    color: #43382b;
    font-family: 'Cinzel', Serif, sans-serif;
    font-weight: bold;
    text-align: center;
}

h2, legend, label {
    color: white;
    font-family: 'Cinzel', Serif, sans-serif;
    font-weight: bold;
    text-align: center;
}

hr {
    border-top: 1px solid #ac855b;
    margin-bottom: 10px;
}

.nav>li>a:hover {
    background: #ac855b !important;
    color: white;
}

a:focus {
    color: #43382b;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.site-text {
    background: #ac855b;
    border-radius: 10px;
    margin-top: 10px;
}

p {
    color: white;
    padding: 30px;
    text-align: center;
}

.pg-btns, .btn-primary {
    background: #715e4a;
    border-color: #43382b;
    border-radius: 20px;
    font-family: 'Cinzel', Serif, sans-serif;
    font-weight: bold;
}

.pg-btns:hover, .btn-primary:hover {
    background-color: #e6dacd !important;
    border-color: #715e4a !important;
    color: #715e4a !important;
}

.pg-btns:active, .btn-primary:hover {
    background-color: #715e4a;
    border-color: #e6dacd;
    color: #715e4a;
}

.pg-btns:focus, .btn-primary:focus {
    background-color: #43382b;
    border-color: white;
    color: white;
}

.alert-success {
    font-family: 'Cinzel', Serif, sans-serif;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.alert-danger {
    font-weight: bold;
}

.masthead {
    margin-top: 10px;
}

.paintings, .drawings, .product-pics {
    border: solid 3px #ac855b;
    height: 100%;
    margin: 1px;
    width: 100%;
}

/******** Home Page ********/

.background {
    background-attachment: fixed;
    background-image: url("../images/zebras-in-africa.jpg");
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    position: relative;
}

.logo-img {
    display: block;
    margin: auto;
    width: 900px;
}

.home-img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover-effect:hover .home-img {
    opacity: 0.3;
}

.hover-effect:hover .link-for-painting {
    opacity: 1;
}

.painting-link {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.link-for-painting {
    background-color: #ac855b;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    opacity: 0;
    padding: 16px 32px;
}

.glyphicon {
    color: white !important;
}

/******** About Page ********/

.picture {
    border: solid 3px white;
    margin: 20px 20px 20px 90px;
    width: 60%;
}

/******** Gallery Page ********/

.top-margin {
    margin-top: 15px;
}

.lioness {
    margin-top: 20px;
}

.african-woman {
    margin-top: 35px;
}

.hover {
    height: auto;
    width: 100%;
}

.overlay {
    background-color: #ac855b;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .5s ease;
    width: 100%;
}

.on-hover:hover .overlay {
    opacity: 0.9;
}

.image-details {
    color: white;
    font-family: 'Cinzel', Serif, sans-serif;
    font-size: 15px;
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/******** Contact Page ********/

.contact-para {
    padding-bottom: 5px !important;
}

.contact-form {
    padding-bottom: 10px;
    padding-left: 50px !important;
}

textarea {
    width: 195px;
}

.social-icons {
    background-color: white !important;
    border-radius: 10px;
    color: #ac855b !important;
    padding: 10px;
}

.map {
    padding: 20px;
}

.map-responsive{
    height: 10px;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
}
.map-responsive iframe{
    border-radius: 10px;
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/******** Register/Login Page ********/

.register-form, .login-form {
    background: #ac855b;
    border-radius: 10px;
    font-family: 'Cinzel', Serif, sans-serif;
    padding: 50px;
    text-align: center;
}

.form-control {
    display: inline;
    width: 60%;
}

input {
    font-weight: bold;
    text-align: center;
    opacity: 0.7;
}

/******** Forum Page ********/

form {
    padding-left: 100px;
    padding-right: 100px;
}

.forum-link, .contact-link {
    color: white !important;
}

.mce-ico {
    color: #44392c;
}

.forum-table {
    text-align: center;
}

.forum-box {
    background: rgba(172, 133, 91, 0.77);
    border: 1px solid #795548;
    border-radius: 10px;
    margin-bottom: 5px;
}

.forum-para {
    padding: 0 !important;
}

.forum-paragraphs {
    font-weight: bold;
    padding: 2px;
}

.comment {
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

.user-pic {
    width: 100%;
}

.comment-profile {
    border: 1px solid #715e4a;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

.btn-default {
    font-weight: bold;
}

.polls {
    float: none;
    margin: 0 auto;
}

.progress {
    margin-bottom: 10px;
    margin-top: 2px;
}

.progress-bar-info {
    background-color: #5a3a2b;
}

.table>tbody>tr>th {
    text-align: center;
}

.table>tbody>tr>td {
    text-align: center;
}

.subject-name {
    color: white;
}

/******** Profile Page ********/

.lion-img {
    border-radius: 10px;
    margin-top: 9px;
    width: 100%;
}

.panel-body {
    background: rgba(172, 133, 91, 0.85);
    color: #fff;
    text-align: center;
}

.panel-title>a {
    color: #5a3a2b;
}


/******** Product Page ********/

.product-box {
    background: rgba(172, 133, 91, 0.85);
    border: 1px solid #ac855b;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.paypal-button {
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

/******** Subscribe Page ********/
.subscribe-button {
    justify-content: center;
}


/************** Media Query **************/

/******** Site ********/
.navbar-toggle {
    background-color: #ac855b;
    border: 1px solid #795548;
    margin-bottom: 1px;
    margin-top: 1px;
}

span {
    color: white !important;
}

/******** Responsive Design for Mobile ********/

@media only screen and (max-width: 40em){
    /*** Site ***/
    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: large;
        padding-top: 5px;
    }

    p {
        padding: 5px;
    }

    .alert-success {
        margin: 1px;
    }

    .alert {
        margin-bottom: 1px;
    }

    .navbar-toggle .icon-bar+.icon-bar {
        background: white;
        margin-top: 4px;
    }

    .navbar-toggle .icon-bar {
        background: white;
        margin-top: 4px;
    }

    /*** Home Page ***/
    .link-for-painting {
        padding: 5px 15px;
    }

    .latest-paintings {
        padding: 0;
    }

    .hover-effect {
        margin-bottom: 5px;
    }

    .painting-description {
        padding-bottom: 25px;
    }

    /*** About Page ***/
    .picture {
        border: solid 2px white;
        margin: 5px;
        width: 100%;
    }

    /*** Contact Page ***/
    .contact-form {
        padding: 0 !important;
    }

    .map {
        padding: 5px;
    }

    /*** Gallery Page ***/
    .paintings .drawings {
        margin: 5px !important;
    }

    .col-sm-6 {
        padding-left: 0;
        padding-right: 0;
    }

    /*** Register and Login Pages ***/
    legend {
        font-size: medium;
    }

    form {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-control {
        width: 100%;
    }

    .login-form {
        padding-top: 10px;
    }

    /*** Purchase Page ***/
    .col-sm-12 {
        margin-left: 1px;
        margin-right: 1px;
    }

    .product-padding {
        padding-left: 0;
        padding-right: 0;
    }

    /*** Forum Pages ***/

    .table>tbody>tr>th {
        font-size: x-small;
        text-align: center;
    }

    .table>tbody>tr>td {
        font-size: xx-small;
        text-align: center;
    }

    .forum-paragraphs {
        padding: 2px !important;
    }

    .user-pic {
        width: 100%;
    }
}