{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
        <div class="col-sm-12">
            <h1>About Artist</h1>
        </div>

        <div class="col-sm-12 site-text">
            <div class="col-sm-6">
                <img class="picture" src="../static/images/keryn-mason.jpg">
            </div>
            <div class="col-sm-6">
                <h2>Keryn Mason</h2>
                <p>Hi! I’m Keryn, a South African artist who is completely inspired by my surroundings and
                    the history of my beautiful country.  You’ll find a lot of African influence in my work,
                    but I don’t limit myself to African subject matter.  In fact, I’ll paint anything that
                    catches my fancy.
                    <br><br>
                    I don’t like to inhibit my creativity in any way, so I don’t tend to label my style.
                    But, I will say that my work reflects my adoration of Africa’s wilderness and my close
                    bond with my family.
                    <br><br>
                    I live in Port Elizabeth, which is a beautiful city and the perfect place to call home.
                    The slower-paced lifestyle helps me to connect with the peaceful pulse of Africa, and it
                    fuels my inspiration.  Though I often travel as a result of my work, I’m always happy
                    to come home to PE.</p>
            </div>
        </div>
    </div>
{% endblock %}