{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <!-- All Paintings -->
        <div class="col-sm-12">
            <h1>Paintings</h1>
            <div class="col-sm-4">
                <img class="paintings" src="/static/images/elephant-painting.jpg" alt="Painting of An Elephant">
            </div>
            <div class="col-sm-4">
                <img class="paintings top-margin" src="/static/images/zebra-painting.jpg" alt="Painting of a Zebra">
            </div>
            <div class="col-sm-4">
                <img class="paintings" src="/static/images/giraffe-painting.jpg" alt="Painting of Giraffe and Calf">
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-6">
                <img class="paintings top-margin" src="/static/images/leopard-painting.jpg" alt="Painting of a Leopard">
            </div>
            <div class="col-sm-6">
                <img class="paintings lioness" src="/static/images/lioness-cub-painting.jpg" alt="Painting of a Lioness and Cub">
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-4">
                <img class="paintings top-margin" src="/static/images/my-lady-painting.jpg" alt="Painting of a Woman">
            </div>
            <div class="col-sm-4">
                <img class="paintings african-woman" src="/static/images/african-woman.jpg" alt="Painting of an African Woman">
            </div>
            <div class="col-sm-4">
                <img class="paintings top-margin" src="/static/images/nelson-mandela.jpg" alt="Painting of Nelson Mandela">
            </div>
        </div>
        <!-- All Paintings -->

        <!-- All Drawings -->
        <div class="col-sm-12">
            <h1>Drawings</h1>
            <div class="col-sm-6">
                <img class="drawings top-margin" src="/static/images/leopard-drawing.jpg" alt="Drawing of a Leopard">
            </div>

            <div class="col-sm-6" style="margin-top: 40px">
                <div class="col-sm-6"><img class="drawings top-margin" src="/static/images/african-women.jpg" alt="Drawing of African Women"></div>
                <div class="col-sm-6"><img class="drawings top-margin" src="/static/images/lion-drawing1.jpg" alt="Drawing of Lion"></div>
                <div class="col-sm-6"><img class="drawings top-margin" src="/static/images/ship-drawing.jpg" alt="Drawing of a Ship"></div>
                <div class="col-sm-6"><img class="drawings top-margin" src="/static/images/zebra-drawing.jpg" alt="Drawing of a Zebra"></div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-4">
                <img class="drawings top-margin" src="/static/images/lion-drawing2.jpg" alt="Drawing of a Lion">
            </div>
            <div class="col-sm-4">
                <img class="drawings top-margin" src="/static/images/elephant-drawing.jpg" alt="Drawing of an Elephant">
            </div>
            <div class="col-sm-4">
                <img class="drawings top-margin" src="/static/images/leopard-drawing2.jpg" alt="Drawing of Leopard Cub">
            </div>
        </div>
    </div>
    <!-- All Drawings -->

{% endblock %}