{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

    <!-- Details on the Painting of Valli M. Elephant -->
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="painting-header">
                <h1>Valli M.</h1>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-1">
                <p></p>
            </div>

            <div class="col-sm-7">
                <div class="site-text">
                    <p class="painting-description">Sometimes animals are able to convey such boldness in their natures that they cause
                        us as humans to stand up and take note.  Valli M. is one such animal, and this
                        portrait of him at Addo Elephant Park attempts to capture that bold nature.  The
                        original painting ‘Valli M. his early years at Addo’ was completed for Nicola Schwim,
                        whose love and passion for Valli M. inspired its inception. The photograph that acted
                        as a reference can be found in her book, ‘Elephant Footprints’, which I found to be an
                        inspirational read.<br>
                        <span class="pull-right"><i>-Keryn Mason</i></span>
                    </p>
                </div>

                {% if user.is_authenticated %}
                    <!-- If a user is logged in they can click through to the Purchase page -->
                    <div class="site-text">
                        <p>If you are interested in buying a print of this painting then please go to the
                            <a class="forum-link" href="{% url 'products' %}">purchase</a> page.</p>
                    </div>
                {% else %}
                    <!-- If a user has not yet Registered or Logged in they can do so here -->
                    <div class="site-text">
                        <p>If you are interested in buying a print of this painting then please
                            <a class="forum-link" href="{% url 'register' %}">register</a> or
                            <a class="forum-link" href="{% url 'login' %}">login</a> to our site.</p>
                    </div>
                {% endif %}

                <a class="btn btn-primary pull-right" href="javascript:history.back()">Back</a>
            </div>

            <div class="col-sm-3">
                <img class="paintings" src="/static/images/elephant-painting.jpg" alt="A Painting of Valli M. The Elephant by Keryn Mason">
            </div>
        </div>
    </div>
    <!-- Details on the Painting of Valli M. Elephant -->

{% endblock %}