{% load staticfiles %}
{% load emoticons_tags %}

<div class="container-fluid">
    <div class="col-sm-12">
        <section class="row comment">
            <div class="col-sm-3 comment-profile">
                <p><img class="user-pic" src="{% static 'images/user.png' %}" /></p>
                <p class="forum-paragraphs">{{ post.user.username }}</p>
            </div>

            <div class="col-sm-9">
                <div class="comment-content">
                    {% autoescape off %}
                        {{ post.comment|emoticons }}
                    {% endautoescape %}
                </div>
                {% include "forum/comment_details.html" %}
            </div>
        </section>
    </div>
</div>