{% extends "base.html" %}
{% load thread_extras %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid">

        <div class="col-sm-12">
            <h1>{{ thread.name }}</h1>
        </div>

        <!-- Owner of Thread -->
        <div class="col-sm-12">
            <table class="table">
                <tbody>
                <tr>
                    <th>CREATED</th>
                    <th>OWNER</th>
                    <th>LAST  POST</th>
                </tr>
                <tr>
                    <td>
                        <time datetime="{{ thread.created_at }}">
                            {{ thread.created_at|started_time }}
                        </time>
                    </td>
                    <td>{{ thread.user.username }}</td>
                    <td>{% last_posted_user_name thread %}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Owner of Thread -->

        <!-- Thread and Poll -->
        <div class="col-sm-1">
            <p></p>
        </div>
        <div class="col-sm-10 site-text">
        {% if thread.poll %}
                    <div class="col-sm-6 polls">
                        <h2>Poll</h2>
                        <h5><strong>{{ thread.poll.question }}</strong></h5>
                        <h5>Here’s how the votes are so far:</h5>
                        {% for subject in thread.poll.subjects.all %}
                            <div class="col-sm-12">
                                <strong class="subject-name">{{ subject.name }}</strong>
                                <span class="pull-right">{{ subject|vote_percentage }}%</span>
                            </div>

                            {% autoescape off %}
                                {% user_vote_button thread subject user %}
                            {% endautoescape %}

                            <div class="col-sm-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                         aria-value="{{ subject|vote_percentage }}" aria-valuemin="0"
                                         aria-valuemax="100" style="width:{{ subject|vote_percentage }}%;">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            {% endif %}
            {% for post in thread.posts.all %}
                {% include "forum/post.html" %}
            {% endfor %}
        </div>
        <div class="col-sm-1">
            <p></p>
        </div>
        <!-- Thread and Poll -->

        <div class="col-sm-12">
            {% if user.is_authenticated %}
                <p>
                    <a href="{% url 'new_post' thread.id %}" class="btn btn-primary">New Post</a>
                    <a class="btn btn-primary" href="javascript:history.back()">Back</a>
                </p>
            {% endif %}
        </div>

    </div>


        <!--<div class="col-sm-12">
            {% if thread.poll %}
                    <div class="col-sm-6 polls">
                        <h2>Poll</h2>
                        <h5><strong>{{ thread.poll.question }}</strong></h5>
                        <p>Here’s how the votes are so far:</p>
                        {% for subject in thread.poll.subjects.all %}
                            <div class="col-sm-12">
                                <strong>{{ subject.name }}</strong>
                                <span class="pull-right">{{ subject|vote_percentage }}%</span>
                            </div>

                            {% autoescape off %}
                                {% user_vote_button thread subject user %}
                            {% endautoescape %}

                            <div class="col-sm-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                         aria-value="{{ subject|vote_percentage }}" aria-valuemin="0"
                                         aria-valuemax="100" style="width:{{ subject|vote_percentage }}%;">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            {% endif %}
        <div class="col-sm-1">
            <p></p>
        </div>
        <div class="col-sm-12">
            {% for post in thread.posts.all %}
            {% include "forum/post.html" %}
        {% endfor %}
        </div>
        </div>
    <div class="col-sm-12 site-text">
        {% if user.is_authenticated %}
                <p>
                    <a href="{% url 'new_post' thread.id %}" class="btn btn-primary">New post</a>
                    <a class="btn btn-primary" href="javascript:history.back()">Back</a>
                </p>
            {% endif %}
    </div>-->

{% endblock %}